@import url('../../styles/colors.css');
@import url('../buttons/button.css');

#directory-table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

#directory-table th,
#directory-table td {
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
}

#directory-table th {
    background-color: var(--gray);
}

.action-btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
    color: var(--white);
    font-size: 24px;
}

/*   buttons       */
.action-btn.material-icons {
    color: var(--white); /* Базовый цвет иконок */
    /* Дополнительные стили, если необходимы */
}

.edit-btn.material-icons {
    color: var(--edit); /* Цвет иконки редактирования */
}

.delete-btn.material-icons {
    color: var(--delete); /* Цвет иконки удаления */
}
/* Добавление отступа между иконками по горизонтали */
.edit-btn.material-icons,
.delete-btn.material-icons {
    margin-right: 10px; /* Отступ между иконками */
}

/* Hover эффект на кнопки */
.edit-btn.material-icons:hover,
.delete-btn.material-icons:hover {
    background-color: var(--black); /* Цвет фона при наведении */
}
