<table id="directory-table" class="directory-table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Данные будут добавлены здесь при помощи JS -->
    </tbody>
</table>

<!-- Кнопка Edit -->
<button class="button-container edit-btn">
    <span class="icon material-icons">edit</span>
</button>

<!-- Кнопка Delete -->
<button class="button-container delete-btn">
    <span class="icon material-icons">delete</span>
</button>
